<button class="btn btn-danger" (click)="this._location.back()"><i class="fa fa-chevron-left"></i> Back</button>

<form [formGroup]="bookForm" (ngSubmit)="updateBook(bookForm.value)" class="form-group">
  <table class="table">
    <h1>Book Details</h1>
    <tr>
      <td>Title</td>
      <td><input id="title" type="text" formControlName="title" class="form-control"></td>
    </tr>
    <tr>
      <td>Written By</td>
      <td><input id="author" type="text" formControlName="author" class="form-control"></td>
    </tr>
    <tr>
      <td>Genre</td>
      <td><input id="genre" type="text" formControlName="genre" class="form-control"></td>
    </tr>
    <tr>
      <td>Pages</td>
      <td><input id="pageCount" type="number" formControlName="pageCount" class="form-control"></td>
    </tr>
    <tr>
      <td>Year Published</td>
      <td><input id="publishYear" type="number" formControlName="publishYear" class="form-control"></td>
    </tr>
    <tr>
      <td>Number of availability</td>
      <td><input id="stock" type="number" formControlName="stock" class="form-control"></td>
    </tr>
    <tr>
      <td>Added to collection</td>
      <td>{{book.createdDate}}</td>
    </tr>
    <tr>
      <td>Last Updated</td>
      <td>{{book.updatedDate}}</td>
    </tr>
  </table>
  <button class="button" type="submit" class="btn btn-primary" [disabled]="!bookForm.valid">Update</button>
</form>