<form [formGroup]="srcForm" class="form-inline my-2 my-lg-0" (ngSubmit)="search(srcForm.value.query)">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="query"
    formControlName="query">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<table class="table table-bordered">
  <thead>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Year Published</th>
    <th>Last Updated</th>
  </thead>
  <!-- loop an array of element in a component -->
  <tbody *ngFor="let b of books">
    <tr>
      <!-- untuk link disarankan pakai routerLink, href juga bisa sih, tapi setiap link akan me'refresh' page... -->
      <td><a routerLink="/books/{{b._id}}">{{ b.title }}</a></td>
      <td>{{ b.author }}</td>
      <td>{{ b.genre }}</td>
      <td>{{ b.publishYear }}</td>
      <td>{{ b.updatedDate }}</td>
    </tr>
  </tbody>
</table>
Click an entry to view details and/or edit.
<form [formGroup]="bookForm" (ngSubmit)="addBook(bookForm.value)" class="form-group">
  <h1>Insert</h1>
  <div class="form-group required" [ngClass]="displayFieldCss('title')">
    <label for="title" class="control-label">
      Title
    </label>
    <input id="title" type="text" formControlName="title" class="form-control">
    <app-field-error-display [displayError]="isFieldValid('title')" errorMsg="Title field must be filled.">
    </app-field-error-display>
  </div>
  <div class="form-group required" [ngClass]="displayFieldCss('author')">
    <label for="author" class="control-label">
      Author
    </label>
    <input id="author" type="text" formControlName="author" class="form-control">
    <app-field-error-display [displayError]="isFieldValid('author')" errorMsg="Author field must be filled.">
    </app-field-error-display>
  </div>
  <div class="form-group required" [ngClass]="displayFieldCss('genre')">
    <label for="genre" class="control-label">
      Genre
    </label>
    <input id="genre" type="text" formControlName="genre" class="form-control">
    <app-field-error-display [displayError]="isFieldValid('genre')" errorMsg="Genre field must be filled.">
    </app-field-error-display>
  </div>
  <div class="form-group required" [ngClass]="displayFieldCss('pageCount')">
    <label for="pageCount" class="control-label">
      Pages
    </label>
    <input id="pageCount" type="number" formControlName="pageCount" class="form-control">
    <app-field-error-display [displayError]="isFieldValid('pageCount')" errorMsg="Page Count field must be filled.">
    </app-field-error-display>
  </div>
  <div class="form-group required" [ngClass]="displayFieldCss('publishYear')">
    <label for="publishYear" class="control-label">
      Year Published
    </label>
    <input id="publishYear" type="number" formControlName="publishYear" class="form-control">
    <app-field-error-display [displayError]="isFieldValid('publishYear')"
      errorMsg="Published Year field must be filled.">
    </app-field-error-display>
  </div>
  <button class="button" type="submit" class="btn btn-primary">Save</button>
</form>