<form [formGroup]="borrowForm" (ngSubmit)="process(borrowForm.value)">
  <div class="form-group">
    <label>Select Student</label>
    <select formControlName="student" class="form-control">
      <option [ngValue]="null" disabled>Select Student</option>
      <option *ngFor="let s of students" [ngValue]="s._id">
        {{s.name}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label>Select Book</label>
    <select formControlName="book" class="form-control">
      <option [ngValue]="null" disabled>Select Book</option>
      <option *ngFor="let b of books" [ngValue]="b._id">
        {{b.title}}
      </option>
    </select>
  </div>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="!borrowForm.valid">Borrow</button>
</form>