<button class="btn btn-danger" (click)="this._location.back()"><i class="fa fa-chevron-left"></i> Back</button>

<form [formGroup]="stdForm" (ngSubmit)="updateStudent(stdForm.value)" class="form-group">
  <table class="table">
    <h1>Student Details</h1>
    <tr>
      <td>Name</td>
      <td><input id="name" type="text" formControlName="name" class="form-control"></td>
    </tr>
    <tr>
      <td>Birth Date</td>
      <td><input id="birthDate" type="date" formControlName="birthDate" class="form-control"></td>
    </tr>
    <tr>
      <td>Joined</td>
      <td>{{student.createdDate}}</td>
    </tr>
    <tr>
      <td>Last Updated</td>
      <td>{{student.updatedDate}}</td>
    </tr>
  </table>
  <button class="button" type="submit" class="btn btn-primary" [disabled]="!stdForm.valid">Update</button>
</form>
<h1>Currently Borrowed</h1>
<table class="table">
  <thead>
    <th>Book Title</th>
    <th>Borrow Date</th>
    <th>Return?</th>
  </thead>
  <tbody>
    <tr *ngFor="let b of student.borrows">
      <td><a routerLink="/books/{{b.bookId._id}}">{{b.bookId.title}}</a></td>
      <td>{{b.transId.transDate}}</td>
      <td><button (click)="return(b.bookId._id)" class="btn btn-primary">Return</button></td>
    </tr>
    <tr *ngIf="student.borrows.length==0" colspan="3">Student is not borrowing any books at the moment.</tr>
  </tbody>
</table>

<h1>Transaction History</h1>
<table class="table">
  <thead>
    <th>Transaction Date</th>
    <th>Book</th>
    <th>Type</th>
  </thead>
  <tbody>
    <tr *ngFor="let hist of transHist">
      <td>{{hist.transDate}}</td>
      <td><a routerLink="/books/{{hist.bookId._id}}">{{hist.bookId.title}}</a></td>
      <td>{{hist.transType}}</td>
    </tr>
    <tr *ngIf="transHist.length==0" colspan="3">No activity reported.</tr>
  </tbody>
</table>