<form [formGroup]="srcForm" class="form-inline my-2 my-lg-0" (ngSubmit)="search(srcForm.value.query)">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="query"
    formControlName="query">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<table class="table table-bordered">
  <thead>
    <th>Student Name</th>
    <th>Birth Date</th>
    <th>Last Update</th>
  </thead>
  <!-- loop an array of element in a component -->
  <tbody *ngFor="let s of students">
    <tr>
      <!-- untuk link disarankan pakai routerLink, href juga bisa sih, tapi setiap link akan me'refresh' page... -->
      <td><a routerLink="/students/{{s._id}}">{{ s.name }}</a></td>
      <td>{{ s.birthDate }}</td>
      <td>{{ s.updatedDate }}</td>
    </tr>
  </tbody>
</table>
Click an entry to view details and/or edit.
<form [formGroup]="stdForm" (ngSubmit)="addStudent(stdForm.value)" class="form-group">
  <h1>Insert</h1>
  <div class="form-group required" [ngClass]="displayFieldCss('name')">
    <label for="name" class="control-label">
      Name
    </label>
    <input id="name" type="text" formControlName="name" class="form-control">
    <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="Name field must be filled.">
    </app-field-error-display>
  </div>
  <div class="form-group required" [ngClass]="displayFieldCss('birthDate')">
    <label for="birthDate" class="control-label">
      Birth Date
    </label>
    <input id="birthDate" type="date" formControlName="birthDate" class="form-control">
    <app-field-error-display [displayError]="isFieldValid('birthDate')" errorMsg="Birth date field must be filled.">
    </app-field-error-display>
  </div>
  <button class="button" type="submit" class="btn btn-primary">Save</button>
</form>