/* You can add global styles to this file, and also import other style files */
#toast-container > div {
    opacity:1;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}